@font-face {
    font-family: TTNorms;
    src: url("../src/assets/fonts/TTNormsProNormal.ttf");
}

@import "tailwindcss";

@theme{
    --font-ttnorms: TTNorms, "sans-serif"
}

h1 {
    color: #3C3C3B;
    font-weight: 600;
    font-size: 60px;
}